.container {
  top: 1rem; 
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  position: absolute;
  margin: 1rem;
  border: 0.3px solid black;
  border-radius: 10px;
  overflow-y: auto;
}

.innerContainer{
  padding: 0.5rem 1.5rem;
}

.header {
  display: flex;
  flex-direction: column;
  margin: 1rem 0rem;
}

.name {
  font-size: 22px;
  font-weight: 500;
  transition: font-size 0.3s ease;
}

@media (width >= 768px) {
  .name {
    font-size: 25px;
  }
}

@media (width >= 1280px) {
  .name {
    font-size: 27px;
  }
}

.name, .title {
  margin: 0rem;
}

.title, .title a {
  font-size: 13px;
  transition: font-size 0.3s ease;
}

@media (width >= 768px) {
  .title, .title a {
    font-size: 14px;
  }
}

@media (width >= 1280px) {
  .title, .title a {
    font-size: 16px;
  }
}