html{
  overflow: hidden
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-style: normal;
  line-height: 1.6;
  font-size: 18px;
  height: 100%;
}

a {
  font-weight: 100;
  font-size: 16px;
  color: rgb(68, 67, 67);
  text-decoration: none;
  transition: font-size 0.3s ease;
}

@media (width >= 768px) {
  a {
    font-size: 18px;
  }
}

@media (width >= 1280px) {
  a {
    font-size: 22px;
  }
}

a:hover {
  color: darkgrey;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}
